html, body, #root, .App { height: 100% }

.App {
  display: flex;
  flex-direction: column;
}

.App header {
  padding: 1em;
  font-size: 1.25em;
}

.App header img {
  max-height: 2em;
  vertical-align: middle;
  margin-right: 2em;
}

.App button.back {
  font-size: 1.5em;
  margin: 1em 0;
  width: 100%;
}
